.App {
	/* font-family: Arial, Helvetica, sans-serif; */
	text-align: center;
	/* --primaryColor: rgba(46, 46, 46, 0.938); */
	--blue: #1672fd;
	--lightBlue: #4890fb;
	--anotherBlue: #78acef;
	--animation-speed: 0.2s;
	--grey: #e9ecef;
	-webkit-appearance: none;
}

form {
	margin: 1%;
}

select {
	/* for Firefox */
	-moz-appearance: none;
	/* for Chrome */
	-webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
	display: none;
}

/* Base */

input:focus {
	outline: none;
}

textarea {
	padding: 0% 1%;
	padding-top: 0.5%;
	line-height: 150%;
	resize: none;
	width: 100%;
	font-size: 200%;
}

input,
textarea {
	transition-duration: var(--animation-speed);
	border-color: var(--blue);
	border-width: 3px;
	border-radius: 4px;
	border-style: solid;
}

input:focus,
textarea:focus {
	box-shadow: 0px 0px 7px var(--lightBlue);
}

button,
select {
	line-height: 0.95;
	outline: none;
	border-color: var(--blue);
	border-style: solid;
	color: var(--blue);
	border-width: 3px;
	border-radius: 4px;
	padding: 0.5%;
	/* background-color: linear-gradient(45deg,  50%, var(--blue) 50%); */
	background: linear-gradient(to left, #fff 50%, var(--blue) 50%);
	/* -webkit-background-clip: text; */
	background-size: 200% 100%;
	/* background-position: right bottom; */
	background-position: right top;
	margin: 2%;
	transition-duration: var(--animation-speed);
}

button:hover,
select:hover {
	color: white;
	background-position: left bottom;
	box-shadow: 0px 0px 7px var(--blue);
}

/* End base */

div.login {
	height: 100vh;
	padding: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h2.login {
	margin-bottom: 10%;
}

div.loginWrapper {
	padding: 10%;
	border-radius: 10px;
	box-shadow: 0px 0px 20px black;
	margin: 5%;
}

div.loginInputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

div.race {
	padding: 1%;
}

.correct,
.correct:focus {
	background-color: rgb(96, 246, 96);
}

.disabled {
	pointer-events: none;
	opacity: 0.7;
}

.incorrect,
.incorrect:focus {
	background-color: rgb(236, 128, 128);
}

.bar {
	margin: 1%;
}

.word {
	background-color: #e2e2e2;
	padding: 0.2%;
	border-radius: 6px;
}

.progress {
	margin-left: 0%;
	margin-right: 0%;
}

h2 {
	text-align: left;
}

h2.text {
	word-spacing: 1px;
}
